.tiles-container {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #4B576C;
  
}
.tile-board {
  margin-top: 48px;
  padding: 0 48px;
  padding-bottom: 48px;
  height: 500px;
  width: 560px;
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(6, 0.5fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.tile, .tile-behind {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000 1px solid;
  font-size: 36px;
  color: #fff;
}

