header {
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4B576C;
}
.header-grid {
  display: grid;
  grid-template-columns: 36px auto 36px 36px;
  grid-template-rows: 1fr;
  width: 500px;
  height: 51px;
  border-bottom: #000 2px solid;
}

.div1 {
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div3 {
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div4 {
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
